.carousel {
  --width: 60vw;

  display: grid;
  grid-template-columns: 3rem var(--width) 3rem;
  grid-template-rows: 70vh 3rem;
  align-items: center;
  grid-gap: 1rem;
  margin-inline: 0.25rem;

  & > *:nth-child(2) {
    grid-column: 2;
    align-self: stretch;
  }

  .carousel__container {
    overflow: hidden;

    .carousel__contents {
      position: relative;
      width: 100%;
      height: 100%;
      
      .carousel__content {
        user-select: none;
        position: absolute;
        width: inherit;
        height: inherit;
        
        &:nth-child(2) {
          left: var(--width);
        }
        
        &:nth-child(3) {
          left: calc(var(--width) * 2);
        }
        
        & > a {
          display: block;
          width: inherit;
          height: inherit;
        }
        
        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
  }

  .carousel__button {
    padding: 0.25em;
    border: none;
    
    svg {
      fill: var(--color-default-state);
    }
    
    &:hover svg, 
    &:active svg {
      fill: var(--color-hover-state);
    }
  }

  .carousel__indicators {
    grid-column: 1 / -1;
    justify-self: center;
    
    .carousel__indicator {
      width: 1em;
      height: 1em;
      padding: 0;
      border-radius: 100%;
      background-color: var(--color-default-state);
      
      & + .carousel__indicator {
        margin-left: 1em;
      }
      
      &:hover {
        background-color: var(--color-hover-state);
      }
      
      &.is-selected {
        background-color: var(--color-selected-state);
      }
    }
  }
}


