.nav {
  margin-top: 6rem;

  a {
    display: block;
    margin: 0;
    padding: 0.5rem 3rem;
    color: var(--menu-text-color);
    text-decoration: none;

    &:hover {
      background-color: var(--menu-text-hover-color);
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--menu-text-color);
    }
  }
}
