.accordion__container {
  max-inline-size: 30rem;
  /* interpolate-size: allow-keywords; */
}

.accordion {
  --radius: 8px;
  --belt-width: 16px;
  --belt-color: rgba(125 89 69 / 0.35);

  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
  
  &::before {
    content: "";
    position: absolute;
    inset: 0 auto 0 0;
    inline-size: var(--belt-width);
    background-color: var(--belt-color);
  }
  
  &:first-child {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    
    &::before {
      border-top-left-radius: var(--radius);
    }
  }
  
  &:last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    
    &::before {
      border-bottom-left-radius: var(--radius);
    }
  }

  .accordion__header {
    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      inline-size: calc(100% - var(--belt-width));
      margin-inline-start: var(--belt-width);
      border: 0;
      padding: 1.5rem 2rem 1.5rem;

      .accordion__title {
        font-size: 1.25rem;
        font-weight: 500;
      }

      .accordion__indicator {
        inline-size: 0.875rem;
        transition: rotate 0.3s var(--ease-out-expo);

        .is-open & {
          rotate: -45deg;
        }
      }
    }
  }

  .accordion__content {
    overflow: hidden;
    block-size: 0;
    padding-inline: 2rem;
    transition: block-size 0.3s var(--ease-out-expo);

    .accordion__inner {
      display: grid;
      grid-template-columns: 7.5rem 1fr;
      grid-column-gap: 1.5rem;
      align-items: center;
      padding-block-end: 1.5rem;
    }

    /* 규칙: 트랜지션, 애니메이션의 시작 첫 프레임에 설정할 스타일을 지정 */
    @starting-style {
      block-size: 0;
    }
    
    .is-open & {
      /* 0 → auto : [과거] 변경 사이즈 계산 못함 / [최신] 사이즈 보간(사이를 채우다, interpolation) 계산 가능 */
      block-size: auto;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}


