:root {

  --red-50: #ffeeee;
  --red-100: #facdcd;
  --red-200: #f29b9b;
  --red-300: #e66a6a;
  --red-400: #d64545;
  --red-500: #ba2525;
  --red-600: #a61b1b;
  --red-700: #911111;
  --red-800: #780a0a;
  --red-900: #380101;
  --red-950: #610404;

  --yellow-50: #fffaeb;
  --yellow-100: #fcefc7;
  --yellow-200: #f8e3a3;
  --yellow-300: #f9da8b;
  --yellow-400: #f7d070;
  --yellow-500: #e9b949;
  --yellow-600: #c99a2e;
  --yellow-700: #a27c1a;
  --yellow-800: #7c5e10;
  --yellow-900: #513c06;
  --yellow-950: #2c2104;

  --teal-50: #f0fcf9;
  --teal-100: #c6f7e9;
  --teal-200: #8eedd1;
  --teal-300: #5fe3c0;
  --teal-400: #2dcca7;
  --teal-500: #17b897;
  --teal-600: #079a82;
  --teal-700: #048271;
  --teal-800: #016457;
  --teal-900: #00211e;
  --teal-950: #004440;

  --blue-50: #dceefb;
  --blue-100: #b6e0fe;
  --blue-200: #84c5f4;
  --blue-300: #62b0e8;
  --blue-400: #4098d7;
  --blue-500: #2680c2;
  --blue-600: #186faf;
  --blue-700: #0f609b;
  --blue-800: #0a558c;
  --blue-900: #003e6b;
  --blue-950: #002138;

  --blue-gray-50: #f0f4f8;
  --blue-gray-100: #d9e2ec;
  --blue-gray-200: #bcccdc;
  --blue-gray-300: #9fb3c8;
  --blue-gray-400: #829ab1;
  --blue-gray-500: #627d98;
  --blue-gray-600: #486581;
  --blue-gray-700: #334e68;
  --blue-gray-800: #243b53;
  --blue-gray-900: #102a43;
  --blue-gray-950: #07121d;

}