html {
  font-size: 120%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h2 {
  font-weight: 400;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100vh;
}

.wrap {
  position: relative;
  max-inline-size: 30em;
}