.button {
  padding: 0.75em 0.75em;
  border: none;
  border-radius: 4px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  
  &:hover,
  &:active {
    background-color: var(--button-hover-background-color);
  }
}
