body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
  background-color: var(--bg-color);
  color: var(--fg-color);
  margin: 0;
}

h1 {
  font-weight: 200;
  font-size: 2.65rem;
} 