button {
  border: 2px solid currentColor;
  /* transition: background-color 0.3s ease-out, border-color 0.3s ease-out, color 0.3s ease-out; */
  transition-property: background-color, border-color, color;
  transition-duration: 300ms; /* 0.3s, 0.3s, 0.3s */
  transition-timing-function: ease-out; /* ease-out, ease-out, ease-out */
  
  &:hover,
  &:focus,
  .offsite-is-open button {
    border-color: var(--text-color);
    background-color: var(--text-color);
    color: var(--background-color);
  }
}