:root {
  --white: #fff;
  --black: #000;
  
  --gray-50: #f2f2f4;
  --gray-100: #e6e6e9;
  --gray-200: #ccccd3;
  --gray-300: #b3b3bc;
  --gray-400: #9999a6;
  --gray-500: #808090;
  --gray-600: #666673;
  --gray-700: #4d4d56;
  --gray-800: #33333a;
  --gray-900: #1a1a1d;
  --gray-950: #161616;

  --yellow-50: #fefbe6;
  --yellow-100: #fef9d2;
  --yellow-200: #fcf3a5;
  --yellow-300: #fbec79;
  --yellow-400: #f9e64c;
  --yellow-500: #f8e01f;
  --yellow-600: #c6b319;
  --yellow-700: #958613;
  --yellow-800: #635a0c;
  --yellow-900: #322d06;
  --yellow-950: #1a1803;
  
  --fg-color: light-dark(var(--gray-950), var(--yellow-500));
  --bg-color: light-dark(var(--yellow-500), var(--gray-950));

  color-scheme: light dark;
}