:root {
  --text-color: #fff;
  --background-color: #070611;
  --link-bg-color: #8ec3fa;
}

.dialog {
  /* .dialog-is-hidden & {
    z-index: -1;
    opacity: 0;
  } */

  &.dialog-close {
    z-index: -1;
    opacity: 0;
  }

  position: fixed;
  bottom: 0;
  left: 20%;
  inline-size: 360px;
  block-size: 400px;
  margin: 0;
  border-radius: 16px 16px 0px 0px;
  background: var(--background-color);

  > img {
    margin-block-start: 60px;
  }

  figcaption {
    margin-block-start: -4px;
    a {
      display: flex;
      justify-content: center;
      margin-inline: 23px;
      padding: 11px 88px;
      border-radius: 8px;
      background: var(--link-bg-color);
      color: var(--background-color);
      text-decoration: none;
      font: 700 16px/1.3 'Noto Sans KR'; 
    }
  }

  button {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 24px;
    inline-size: 24px;
    border: 1px solid;
    padding: 0;
    background-color: transparent;
  }
}